<div class='component'>
  <div>
    <span> Product List </span>
    | <a routerLink='/product/create'> Create New </a>
  </div>
  <table class="table table-sm" *ngIf= products>
    <thead>
      <tr>
        <td>Id</td>
        <td>PartNumber</td>
        <td>Name</td>
        <td>Price</td>
        <td>Unit</td>
        <td>Vendor</td>
        <td>PhotoPath</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= 'let product of products | sortProducts'>
        <td>{{product.id}}</td>
        <td>{{product.partNumber}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.unit}}</td>
        <td>{{product.vendor.name}}</td>
        <td>{{product.photoPath}}</td>
        <td>
          <a routerLink='/product/detail/{{product.id}}'>Detail</a>
          | <a routerLink='/product/edit/{{product.id}}'>Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>