<div class="component">
  <div>
    <span>Purchase Request Line Items</span>
    | <a *ngIf="request" routerLink='/requestlines/create/{{ request.Id }}'>Create New</a>
  </div>
  <div *ngIf="request">
    <table class="table table-sm">
      <thead>
        <tr>
          <td>Id</td>
          <td>Description</td>
          <td>Status</td>
          <td>Total</td>
          <td>User</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ request.id }}</td>
          <td>{{ request.description }}</td>
          <td>{{ request.status }}</td>
          <td>{{ request.total | currency }}</td>
          <td>{{ request.user.lastName }}</td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <table class="table table-sm">
      <thead>
        <tr>
          <td>Product</td>
          <td>Quantity</td>
          <td>Subtotal</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let requestline of request.Requestlines">
          <td>{{ requestline.product.name }}</td>
          <td>{{ requestline.quantity }}</td>
          <td>{{ requestline.product.price * requestline.quantity | currency }}</td>
          <td>
            <a routerLink='/requestlines/detail/{{requestline.id}}'>Detail</a>
            | <a routerLink='/requestlines/edit/{{requestline.id}}'>Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>